# Local .terraform directories
**/.terraform/*

# Terraform lock files
**/.terraform.lock.hcl

# .tfstate files
**/*.tfstate
**/*.tfstate.*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Local tflint directories
**/.tflint/*

# Local tflint configuration
# We use the one we get from https://raw.githubusercontent.com/dsb-norge/terraform-tflint-wrappers/main/tflint_linux.sh
**/.tflint.hcl

# VScode files
**/.vscode/*
